<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <title>91启程网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- @todo: fill with your company info or remove -->
    <meta name="description" content=""/>
    <meta name="author" content="Themelize.me"/>

    <!-- Bootstrap CSS -->
    <link href="/webui1/css/bootstrap.css" rel="stylesheet"/>
    <link href="/webui1/css/responsive.css" rel="stylesheet"/>

    <!-- Flexslider -->
    <link href="/webui1/css/flexslider.css" rel="stylesheet"/>

    <!-- Theme style -->
    <link href="/webui1/css/theme-style.css" rel="stylesheet"/>

    <!--Your custom colour override-->
    <link href="#" id="colour-scheme" rel="stylesheet"/>

    <!-- Your custom override -->
    <link href="/webui1/css/custom-style.css" rel="stylesheet"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/webui1/js/html5.js"></script>




    <![endif]-->

    <!-- Le fav and touch icons - @todo: fill with your icons or remove -->
    <link rel="shortcut icon" href="/webui1/img/icons/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/webui1/img/icons/114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/webui1/img/icons/72x72.png"/>
    <link rel="apple-touch-icon-precomposed" href="/webui1/img/icons/default.png"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Rambla|Calligraffitti' rel='stylesheet'
          type='text/css'/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <script src="/webui1/js/jquery.js"></script>

  <script type="text/javascript">
      if($.browser.msie){
        if( $.browser.version!=7.0 )
          window.location.href ='/index';
      }else{
        window.location.href ='/index';
      }

  </script>


</head>

<body class="page page-index">
<div id="navigation" class="wrapper">
    <div class="navbar  navbar-static-top">

        <!--Header & Branding region-->
        <div class="header">
            <div class="header-inner container">
                <div class="row-fluid">
                    <div class="span6">
                        <!--branding/logo-->
                        <a class="brand" href="index.html" title="Home">
                            <h1><span>91</span>启程网<span></span></h1>
                        </a>

                    </div>

                    <!--header rightside-->

                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-inner">
                <!--mobile collapse menu button-->
                <a class="btn btn-navbar pull-left" data-toggle="collapse" data-target=".nav-collapse"> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> </a>
                <!--user menu-->
                <ul class="nav user-menu pull-right">

                </ul>

                <!--everything within this div is collapsed on mobile-->
                <div class="nav-collapse collapse">

                    <!--main navigation-->
                    <ul class="nav" id="main-menu">
                        <li class="home-link"><a href="index.html"><i class="icon-home hidden-phone"></i><span
                                class="visible-phone">Home</span></a></li>
                        <li><a href="/" class="menu-item">首页</a></li>
                        <li><a href="/join" class="menu-item">加盟说明</a></li>
                        <li><a href="/" class="menu-item">联系我们</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
</div>





<div class="hero" id="highlighted" style="display: none">
    <div class="inner">
        <!--Flexslider Showshow-->
        <section class="flexslider-wrapper container">
            <div class="flexslider" data-slidernav="auto" data-transition="slide">
                <!--The Slides-->
                <div class="slides">

                    <!--Slide #1 with caption-->
                    <div class="slide row-fluid">
                        <div class="span7"><img src="img/slides/slide1.png" alt="Slide 1"/></div>
                        <div class="span5 caption">
                            <h2>91启程网 上线</h2>
                            <h4>牢记网址：<a href="http://www.91qcheng.com">www.91qcheng.com</a></h4>

                            <a href="/signup" class="btn btn-large btn-primary">现在注册</a></div>
                    </div>

                    <!--Slide #2 straight image 1170px wide x 390px high-->
                    <div class="slide row-fluid"><img
                            src="http://www.91qcheng.com/upload/51e8d6c5c6b314304e000001/1376205816463_201307200911166096.jpg"
                            alt="Slide 2"/></div>

                    <!--Slide #3 & so on below-->

                </div>
            </div>
        </section>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row">
            <!-- Secondary features -->
            <div class="span10">
                <div class="media-body">
                    <div class="tags"><a href="#" class="tag"></a>  <a href="#" class="type"></a></div>
                    <h4 class="title media-heading"><a href="javascript:void(0);"></a></h4>

                      <p>
                          <a href="/index"><h3>点击这里继续使用当前浏览器</h3></a>
                        </p>
                    <!-- Meta details mobile -->
                    <p>
                        温馨提示:
                    </p>
                    <p>
                           检测到用户的浏览器版本使用的是IE7.0的内核.用于低版本浏览器无法本站的一些渲染效果,建议用户使用高版本的浏览器。对于该网站在ie7下可能存在的少量bug,本站开发人员将竭力解决,
                            给用户带来不便之处 敬请见谅！
                    </p>
                        <p>
                      推荐使用的浏览器
                    </p>
                    <p>
                       火狐 <a href="http://download.firefox.com.cn/releases/stub/official/zh-CN/Firefox-latest.exe">点我下载</a>
                    </p>
                    <p>
                        ie10  32位 <a href="http://download.microsoft.com/download/4/1/4/4149BFB1-AC27-401D-943F-DA1BBD0537C5/IE10-Windows6.1-x86-zh-cn.exe">点我下载</a>  </br>
                        &nbsp &nbsp &nbsp  &nbsp   64位    <a href="http://download.microsoft.com/download/3/7/D/37DC542A-AE01-4E4B-99A0-FCFD5F7F19E7/IE10-Windows6.1-x64-zh-cn.exe">点我下载</a>
                    </p>
                    <p>
                       chrome <a href="https://dl.google.com/tag/s/appguid%3D%7B8A69D345-D564-463C-AFF1-A69D9E530F96%7D%26iid%3D%7B83B3A953-D859-892C-C64D-F644913AA073%7D%26lang%3Dzh-CN%26browser%3D4%26usagestats%3D0%26appname%3DGoogle%2520Chrome%26needsadmin%3Dprefers%26installdataindex%3Ddefaultbrowser/update2/installers/ChromeSetup.exe">点我下载</a>
                    </p>
                    <p>

                </p>
                  本站的下载链接是采用浏览器官网链接.绝对安全！
                    <p>


                    </p>
                </div>
            </div>
            <!--Contact block-->
            <div class="span2 sidebar sidebar-right">
              <!--
                <h3 class="title-divider"><span>新闻动态</span></h3>
                <ul class="big-list tags">

                    <% if (locals.new_list && new_list.length > 0) { %>
                    <%- partial('cell/news', { collection: new_list, as: 'news' }) %>
                    <% } else { %>
                    <li>无新闻</li>
                    <% } %>

                </ul>
            </div>
            -->
        </div>
        <!-- Services -->

        <!--Pricing Table-->


        <!--Customer testimonial-->

    </div>
</div>
<!--
<div id="content-below" class="wrapper"></div>
       -->
<!-- FOOTER -->



<!--Scripts -->


<!-- @todo: remove unused Javascript for better performance -->
<script src="/webui1/js/bootstrap-transition.js"></script>
<script src="/webui1/js/bootstrap-alert.js"></script>
<script src="/webui1/js/bootstrap-affix.js"></script>
<script src="/webui1/js/bootstrap-modal.js"></script>
<script src="/webui1/js/bootstrap-dropdown.js"></script>
<script src="/webui1/js/bootstrap-scrollspy.js"></script>
<script src="/webui1/js/bootstrap-tab.js"></script>
<script src="/webui1/js/bootstrap-tooltip.js"></script>
<script src="/webui1/js/bootstrap-popover.js"></script>
<script src="/webui1/js/bootstrap-button.js"></script>
<script src="/webui1/js/bootstrap-collapse.js"></script>
<script src="/webui1/js/bootstrap-carousel.js"></script>
<script src="/webui1/js/bootstrap-typeahead.js"></script>

<!--Non-Bootstrap JS-->
<script src="/webui1/js/jquery.quicksand.js"></script>
<script src="/webui1/js/jquery.flexslider-min.js"></script>

<!--Custom scripts mainly used to trigger libraries -->
<script src="/webui1/js/script.js"></script>






</body>
</html>