<div id="navigation" class="wrapper">
  <div class="navbar  navbar-static-top">
    <!--Header & Branding region-->
    <div class="header" style="height: 70px">
      <div class="header-inner container">
        <div class="row-fluid">
          <div class="span6">
            <!--branding/logo-->
            <a class="brand" href="#" title="Home">
              <h1><span>91</span><i class="icon-leaf"></i>启程网<span></span></h1>
            </a>

          </div>

          <!--header rightside-->
          <!--social media icons-->
          <div class="pull-right">
            <!--@todo: replace with company social media details-->
            <div class="tools_cion pageleft" style="float: left ; margin-left: 20px ;margin-right:  20px">
              <p><a href="http://www.travelsky.com/" target="_blank"><img src="/images/icon/cion_05.gif"
                                                                          width="32" height="32" alt="" title=""
                                                                          style="padding-top:3px;"></a></p>

              <p><a href="http://www.travelsky.com/" class="tools_link" target="_blank">飞机</a></p>
            </div>
            <div class="tools_cion pageleft" style="float: left ; margin-left: 20px ;margin-right:  20px">
              <p><a href="http://qq.ip138.com/train/" target="_blank"><img src="/images/icon/cion_06.png"
                                                                           width="32" height="32" alt="" title=""></a>
              </p>

              <p><a href="http://qq.ip138.com/train/" class="tools_link" target="_blank">火车</a></p>
            </div>
            <div class="tools_cion pageleft" style="float: left ; margin-left: 20px ;margin-right:  20px">
              <p><a href="http://www.weather.com.cn/static/html/weather.shtml" target="_blank"><img
                src="/images/icon/cion_07.gif" width="32" height="32" alt="" title=""></a></p>

              <p><a href="http://www.weather.com.cn/static/html/weather.shtml" class="tools_link" target="_blank">天气</a>
              </p>
            </div>
            <div class="tools_cion pageleft" style="float: left ; margin-left: 20px ;margin-right:  20px">
              <p><a href="http://www.luopan.com/" target="_blank"><img src="/images/icon/cion_11.gif"
                                                                       width="32" height="32" alt="" title=""></a></p>

              <p><a href="http://www.luopan.com/" class="tools_link" target="_blank">酒店</a></p>
            </div>
            <div class="tools_cion pageleft" style="float: left ; margin-left: 20px ;margin-right:  20px">
              <p><a href="http://www.dy7cd.com/" target="_blank"><img src="/images/icon/cion_15.gif"
                                                                      width="32" height="32" alt="" title=""
                                                                      style="padding-top:1px;"></a></p>

              <p><a href="http://www.dy7cd.com/" class="tools_link" target="_blank">导游</a></p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="navbar-inner">
        <!--mobile collapse menu button-->
        <a class="btn btn-navbar pull-left" data-toggle="collapse" data-target=".nav-collapse"> <span
          class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
          class="icon-bar"></span> </a>
        <!--user menu-->
        <ul class="nav user-menu pull-right">
          <li></li>
        </ul>

        <!--everything within this div is collapsed on mobile-->
        <div class="nav-collapse collapse">

          <!--main navigation-->
          <ul class="nav" id="main-menu">
            <li class="home-link"><a href="index.html"><i class="icon-home hidden-phone"></i><span
              class="visible-phone">Home</span></a></li>
            <li><a href="/" class="menu-item">首页</a></li>
            <li><a href="/join" class="menu-item">加盟说明</a></li>
            <li><a href="/" class="menu-item">联系我们</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>