<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <title>91启程网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- @todo: fill with your company info or remove -->
    <meta name="description" content=""/>
    <meta name="author" content="Themelize.me"/>

    <!-- Bootstrap CSS -->
    <link href="/webui1/css/bootstrap.css" rel="stylesheet"/>
    <link href="/webui1/css/responsive.css" rel="stylesheet"/>

    <!-- Flexslider -->
    <link href="/webui1/css/flexslider.css" rel="stylesheet"/>

    <!-- Theme style -->
    <link href="/webui1/css/theme-style.css" rel="stylesheet"/>

    <!--Your custom colour override-->
    <link href="#" id="colour-scheme" rel="stylesheet"/>

    <!-- Your custom override -->
    <link href="/webui1/css/custom-style.css" rel="stylesheet"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/webui1/js/html5.js"></script>




    <![endif]-->

    <!-- Le fav and touch icons - @todo: fill with your icons or remove -->
    <link rel="shortcut icon" href="/webui1/img/icons/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/webui1/img/icons/114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/webui1/img/icons/72x72.png"/>
    <link rel="apple-touch-icon-precomposed" href="/webui1/img/icons/default.png"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Rambla|Calligraffitti' rel='stylesheet'
          type='text/css'/>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

</head>

<body class="page page-index">
<div id="navigation" class="wrapper">
    <div class="navbar  navbar-static-top">

        <!--Header & Branding region-->
        <div class="header">
            <div class="header-inner container">
                <div class="row-fluid">
                    <div class="span6">
                        <!--branding/logo-->
                        <a class="brand" href="index.html" title="Home">
                            <h1><span>91</span>启程网<span></span></h1>
                        </a>

                    </div>

                    <!--header rightside-->

                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-inner">
                <!--mobile collapse menu button-->
                <a class="btn btn-navbar pull-left" data-toggle="collapse" data-target=".nav-collapse"> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span> </a>
                <!--user menu-->
                <ul class="nav user-menu pull-right">

                </ul>

                <!--everything within this div is collapsed on mobile-->
                <div class="nav-collapse collapse">

                    <!--main navigation-->
                    <ul class="nav" id="main-menu">
                        <li class="home-link"><a href="index.html"><i class="icon-home hidden-phone"></i><span
                                class="visible-phone">Home</span></a></li>
                        <li><a href="/" class="menu-item">首页</a></li>
                        <li><a href="/join" class="menu-item">加盟说明</a></li>
                        <li><a href="/" class="menu-item">联系我们</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
</div>





<div class="hero" id="highlighted" style="display: none">
    <div class="inner">
        <!--Flexslider Showshow-->
        <section class="flexslider-wrapper container">
            <div class="flexslider" data-slidernav="auto" data-transition="slide">
                <!--The Slides-->
                <div class="slides">

                    <!--Slide #1 with caption-->
                    <div class="slide row-fluid">
                        <div class="span7"><img src="img/slides/slide1.png" alt="Slide 1"/></div>
                        <div class="span5 caption">
                            <h2>91启程网 上线</h2>
                            <h4>牢记网址：<a href="http://www.91qcheng.com">www.91qcheng.com</a></h4>

                            <a href="/signup" class="btn btn-large btn-primary">现在注册</a></div>
                    </div>

                    <!--Slide #2 straight image 1170px wide x 390px high-->
                    <div class="slide row-fluid"><img
                            src="http://www.91qcheng.com/upload/51e8d6c5c6b314304e000001/1376205816463_201307200911166096.jpg"
                            alt="Slide 2"/></div>

                    <!--Slide #3 & so on below-->

                </div>
            </div>
        </section>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row">
            <!-- Secondary features -->
            <div class="span10">
                <div class="media-body">
                    <div class="tags"><a href="#" class="tag"></a>  <a href="#" class="type"></a></div>
                    <h4 class="title media-heading"><a href="javascript:void(0);">91启程网会员加盟说明.</a></h4>

                    <!-- Meta details mobile -->
                    <p>
                        一、启程网介绍:
                    </p>
                    <p>
                        启程网（www.91qcheng.com）成立于2013年8月，是服务于组团社及各专线供应商交易的专业平台。启程网根据组团社计调的业务操作习惯而设计，但本网站永远不会介入组团业务，只致力于为组团社计调、工作人员提供：最便捷，最真实，最有价值的信息与服务。
                    </p>
                    <p>
                        二、加盟启程网的必要条件：
                    </p>
                    <p>
                        (1)、必须具备旅游经营资质（需向启程网提供中国境内注册的旅行社或门市部营业执照、负责人身份证等资料复印件）。
                    </p>
                    <p>
                    (2)、必须具有专人负责网络的操作（包括线路更新、预报计划，签收预订等）。
                    </p>
                    <p>
                        (3)、必须保障对所发布的旅游产品和所提供的旅行服务质量负责，拥有承担违约责任的经济实力。
                    </p>
                    <p>
                        (4)、必须具有丰富的散客产品（性价比高、价格具有市场竞争力）和发班能力。
                    </p>
                    <p>
                        (5)、必须严格遵守启程网的操作规范，共同为广大组团社提供一个真实、诚信、负责任的旅游产品预订环境。
                    </p>
                    <p>
                        (6)、必须对所发布的信息、产品价格负责，预订一经确认，必须履行相应的责任。
                    </p>
                    <p>
                        (7)、必须遵守启程网规则，积极参与促销、业务推广、服务等活动。
                    </p>
                    <p>

                        三、启程网分站产品供应商应遵守的规则
                    </p>
                    <p>
                        (1)、公司信息、出团计划必须及时准确发布、散客必须网上成交。
                    </p>
                    <p>
                        (2)、所有团队、散客行程及销售人员名片必须有启程网LOGGO。
                    </p>
                    <p>
                        (3)、同业广告宣传，应标注“详情请登录启程网”及启程网LOGGO.
                    <p>
                    <p>
                        (4)、要积极参与启程网各分站组织的各项活动（包括定期会议、联合销售、广告推广、促销等）。
                </p>
                    <p>
                        (5)、对于不遵守规则的供应商，启程网有权停止其资格。
                        加盟咨询电话：0571-87992013 手机：15990079774

                    </p>
                </div>
            </div>
            <!--Contact block-->
            <div class="span2 sidebar sidebar-right">
                <h3 class="title-divider"><span>新闻动态</span></h3>
                <ul class="big-list tags">

                    <% if (locals.new_list && new_list.length > 0) { %>
                    <%- partial('cell/news', { collection: new_list, as: 'news' }) %>
                    <% } else { %>
                    <li>无新闻</li>
                    <% } %>

                </ul>
            </div>
        </div>
        <!-- Services -->

        <!--Pricing Table-->


        <!--Customer testimonial-->

    </div>
</div>
<div id="content-below" class="wrapper"></div>

<!-- FOOTER -->



<!--Scripts -->
<script src="/webui1/js/jquery.js"></script>

<!-- @todo: remove unused Javascript for better performance -->
<script src="/webui1/js/bootstrap-transition.js"></script>
<script src="/webui1/js/bootstrap-alert.js"></script>
<script src="/webui1/js/bootstrap-affix.js"></script>
<script src="/webui1/js/bootstrap-modal.js"></script>
<script src="/webui1/js/bootstrap-dropdown.js"></script>
<script src="/webui1/js/bootstrap-scrollspy.js"></script>
<script src="/webui1/js/bootstrap-tab.js"></script>
<script src="/webui1/js/bootstrap-tooltip.js"></script>
<script src="/webui1/js/bootstrap-popover.js"></script>
<script src="/webui1/js/bootstrap-button.js"></script>
<script src="/webui1/js/bootstrap-collapse.js"></script>
<script src="/webui1/js/bootstrap-carousel.js"></script>
<script src="/webui1/js/bootstrap-typeahead.js"></script>

<!--Non-Bootstrap JS-->
<script src="/webui1/js/jquery.quicksand.js"></script>
<script src="/webui1/js/jquery.flexslider-min.js"></script>

<!--Custom scripts mainly used to trigger libraries -->
<script src="/webui1/js/script.js"></script>



<script type="text/javascript">

    $(function(){

        $("#sub").click(function(){
            $("#error").empty().css("display","block")
                    . append(" <img src='/images/loading.gif'/>正在处理登陆中。。。。。");
            var   loginname= $("#loginname").val();
            var   pass= $("#pass").val();
            var crsf = $("#_csrf").val();
            $.ajax({
                        type: 'POST',
                        url: "/user/signin",
                        data: {
                            "_csrf": crsf,
                            loginname:loginname,
                            pass:pass
                        },
                        dataType: "json",
                        cache: false,
                        success: function (msg) {
                            if(msg.status!=200){
                                $("#error").append("<div class='alert alert-error alert-block'>账号密码错误</div>");
                                return;
                            }
                            if(msg.level == 1){
                                window.location.href='/admin/travels';
                            }else if(msg.level == 2){
                                window.location.href='/agent/travels';
                            }else{
                                window.location.href='/qcheng';
                            }

                        }

                    }
            )

        });
    })  ;
</script>

</body>
</html>