<div id="main-content" class="clearfix">


  <div id="breadcrumbs">
    <ul class="breadcrumb">
      <li><i class="icon-home"></i> <a href="#">主页</a><span class="divider"><i class="icon-angle-right"></i></span></li>
      <li class="active">修改用户信息</li>
    </ul>
    <!--.breadcrumb-->
  </div>
  <!--#breadcrumbs-->


  <div id="page-content" class="clearfix">

    <div class="page-header position-relative">
      <h1>修改用户密码</h1>
    </div>
    <form class="form-horizontal required-validate" id="test" action="/updateUser.json" method="post">

      <div class="control-group">
        <label class="control-label" for="form-field-2">qq：</label>

        <div class="controls">
          <input class="required" type="text" id="form-field-2" name="qq" placeholder="qq">

        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="form-field-3">邮箱：</label>

        <div class="controls">
          <input class="required" type="text" id="form-field-3" name="email" placeholder="邮箱">

        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="form-field-4">电话：</label>

        <div class="controls">
          <input class="required" type="text" id="form-field-4" name="tel"  placeholder="电话">

        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="form-field-5">地址：</label>

        <div class="controls">
          <input class="required" type="text" id="form-field-5" name="address"  placeholder="地址">

        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-info" type="button" onclick="onNsclick('#test')" msg="确认提交吗？"><i class="icon-ok"></i>保存
        </button>
      </div>
    </form>

  </div>
</div>