<div id="main-content" class="clearfix">


  <div id="breadcrumbs">
    <ul class="breadcrumb">
      <li><i class="icon-home"></i> <a href="#">主页</a><span class="divider"><i class="icon-angle-right"></i></span></li>
      <li class="active user_action_1">添加用户</li>
    </ul>
    <!--.breadcrumb-->
  </div>
  <!--#breadcrumbs-->


  <div id="page-content" class="clearfix">

    <div class="page-header position-relative">
      <h1 class="user_action_2">添加用户</h1>
    </div>
    <!--/page-header-->

    <div class="row-fluid">
      <%include user_form.html%>
    </div>
    <!--/row-->

  </div>
</div>
<script type="text/javascript" language="javascript" src="/vendor/PCASClass.js"
        charset="gb2312"></script>
<script type="text/javascript" language="javascript" defer="defer">
  new PCAS("province", "city", "area");
</script>